$white: #ffffff;
$dark: #323642;
$primary: #004761;
$warning: #E8D058;
$danger: #823E73;
$success: #8CBD21;
$light: #0C8BBA;
$more-light: #82CFD3;
$info: #F4E9AF;

$secondary: $primary;

@import '~bootstrap/scss/bootstrap';

:root {
  --sidebar-width: 240px;
  --content-width: calc(100vw - var(--sidebar-width));
  --header-height: 60px;
  --footer-height: 150px;
  --content-padding: 20px;
  --method-area-padding: 3vw;
  --sp2: 2px;
  --sp4: 4px;
  --sp12: 12px;
  --sp16: 16px;
  --sp20: 20px;
  --gray100: #e3e8ee;
  --gray300: #a3acb9;
  --gray500: #697386;
  --blue500: #556cd6;
  --blue50: #f5fbff;
  --border-radius-8: 8px;
  --font14: 14px;
  --background-color: rgb(249, 250, 251);
  --table-td-padding: 11px;

  --cluster-small: rgba(140, 189, 33, 0.4);
  --cluster-medium: rgba(232, 208, 88, 0.4);
  --cluster-large: rgba(130, 62, 115, 0.4);
}

#__nuxt, #__layout,
body {
  height: 100vh;
  color: $dark;
}

#wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#header {
  text-align: left;
  transition: .5s;
  width: 100vw;
  min-height: var(--header-height);
  z-index: 1000;

  .navbar {
    width: 100vw;
  }
}

#header.hide{
  top: calc(var(--header-height) * -1);
}

#footer {
  display: flex;
  justify-content: center;
  min-height: var(--footer-height);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: $light;
}

